<section id="about" class="about"><div class="flex flex--space-around"><div class="col-1"><h2>And<br>Things<br>such<br>wow...</h2></div><div class="col-1 push-down"><p>  Here at StormPizza, we strive to create things that inspire, beyond the innovative, wacky content creators, connecting professionals just like you, but most of all...We will stop at literally nothing to bring the absolute best user experience you can ever imagine. Ever. This is master</p><p class="last">...and we never will. That is our promise to you.</p></div><!--home lead is so we can have our own specific font and size//home-lead is seen in home.sass and home-about.sass

///////////This is from second appendix
//video(poster="about-bg.png" autoplay="true")   
  //source(src="Vine.mp4", type="video/mp4")
  //source(src="Vine.webm", type="video/webm")--></div></section>
